$yellow: #ff5816;




@mixin f300 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}
@mixin f500 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}
@mixin f700 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}
