@import "fonts";
@import "vars";
@import "global";

.top__menu {
    background-color: #040d0d;
}
.menu__list > li:not(:first-child) > a {
    padding-left: 20px;
}
.menu__list > li:not(:last-child) > a {
    padding-right: 20px;
}

.menu__list {
    padding-left: 2px;
    padding-right: 2px;
    display: flex;
    justify-content: space-between;
}
.menu__list-item {
    display: inline-block;

    a {
        @include f300;
        font-size: 13px;
        line-height: 20px;
        color: #bcc3c5;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.menu__list-item {
    text-decoration: none; /*Убираем стандартное подчёркивание ссылки если оно ещё не убрано*/
    display: inline-block; /*делаем чтобы наша ссылка из строчного элемента превратилась в строчно-блочный 
    line-height: 1; /*Задаём высоту строки (можно в пикселях)*/
}
.menu__list-item:after {
    display: block; /*превращаем его в блочный элемент*/
    content: ""; /*контента в данном блоке не будет поэтому в кавычках ничего не ставим*/
    height: 3px; /*задаём высоту линии*/
    width: 0%; /*задаём начальную ширину элемента (линии)*/
    background-color: $yellow; /*цвет фона элемента*/
    /*данное свойство отвечает за плавное изменение ширины. Здесь можно задать время анимации в секундах (в данном случае задано 0.4 секунды)*/
    bottom: 0;
    left: 0;
}
.menu__list-item:hover:after,
.menu__list-item:focus:after {
    width: 100%;
}

.dot {
    width: 0;
    height: 15px;
    border-left: #323232 1px dotted;
    margin-top: 12.5px;
}
.menu__list-item.ar {
    position: relative;
}
.menu__list-item.ar > a::after {
    content: "\25BC";
    position: absolute;
    margin-left: 10px;
    color: $yellow;
}

.header__top {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}
.region {
    @include f300;
    font-size: 13px;
    line-height: 20px;
    color: #040d0d;
    span {
        color: #4673ab;
        border-bottom: 1px dotted;
    }
}
.authblock a {
    @include f300;
    color: #4673ab;
    font-size: 13px;
    line-height: 20px;
    border-bottom: 1px solid;
}
.access {
    margin-right: 20px;
}
.header__bottom {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.logo {
    @include f300;
    font-size: 46px;
    line-height: 38px;
    color: #040d0d;
}
.logo > span {
    color: #ff5816;
    background-image: url(../images/logo-bg.jpg);
    border-radius: 10px;
    margin: 0px 3px;
    padding: 4px 5px;
}
.slogan{
    
}